/* Global Reset */
* {
    border: 0;
    outline: 0;
    vertical-align: baseline;
    box-sizing: border-box;
     
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #555;
    /* padding: 3rem;   */
    
}

.row{
    margin: 0 !important;
    padding: 0 !important;
}
/*** global ***/

a {
    text-decoration: none !important;
}

ul {
    list-style-type: none;
}

h2 {
    font-weight: 600;
    font-size: 3rem;
    color: #21110e;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 4rem;
}

main {
    padding: 15rem 0;
}

/*** start of navbar section ***/

/*** logo ***/
.navbar-brand {
    font-size: 2rem;
    color: #ffffff !important;
    font-weight: 400;
}

.navbar-brand span {
    color: #21110e;
}

/*** links ***/
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link  {
    color: #21110e;
}

.navbar-light .navbar-nav .nav-item {
    padding: 1rem 0 0 2.5rem;
}


.navbar-light .navbar-nav .nav-link {
    color: #21110e;
}

.navbar-light .navbar-nav .nav-item .phone-number {
    border: 1px solid #21110e ;
    border-radius: 0.4rem;
}

#nav-bar {
    position: fixed;
    transition: top 0.3s;
    padding: 0 7% 10px 7%;
    z-index: 1;
    width: 100%;
    background-color: #ffb200;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

/*** start of contact section ***/
.contact-text-box {
    margin-bottom: 6rem;
}

.contact-box img {
    width: 400px;
    border-radius: 4px;
}

.contact-box form {
    margin-top: 15%;
}

.cta {
    background-color: #ffb200;
    padding: 0.8rem 4rem;
    border-radius: 0.4rem;
    color: #21110e;
    font-weight: 400;
    margin-top: 2rem;
}

.cta:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.cta:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}

.cta::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.cta:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

/*** start of location section ***/

#location-section {
    background-color: #b0d6eb;
    color: #21110e;
    padding: 5rem 0;
}

/*** footer section ***/
footer {
    padding: 2.5rem;
    background-color: #232323;
}
footer ul {
    list-style-type: none;
}

footer input {
    width: 225px;
    height: 4rem;
    border-radius: 0.4rem;
    border: none;
    padding: 0.5rem 1rem;
}

footer .cta {
    margin-left: 1rem;
    background-color: #ffb200;
}

footer .social-icons {
    padding-left: 1rem;
    font-size: 2rem;
    color: #ffb200;
}