/* Global Reset */
* {
    /* margin: 0 ;
    padding: 0; */
    border: 0;
    outline: 0;
    vertical-align: baseline;
    box-sizing: border-box;
     
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #555;
    /* padding: 3rem;   */
    
}

.row{
    margin: 0 !important;
    padding: 0 !important;
}
/*** global ***/

a {
    text-decoration: none !important;
}

ul {
    list-style-type: none;
}

h2 {
    font-weight: 600;
    font-size: 3rem;
    color: #21110e;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 4rem;
}

section {
    margin-top: 15rem;
}


/*** start of navbar section ***/

/*** logo ***/
.navbar-brand {
    font-size: 2rem;
    color: #ffffff !important;
    font-weight: 400;
}

.navbar-brand span {
    color: #ffb200;
}

/*** links ***/
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link  {
    color: #ffb200;
}

.navbar-light .navbar-nav .nav-item {
    padding: 1rem 0 0 2.5rem;
}


.navbar-light .navbar-nav .nav-link {
    color: #ffd880;
}

.navbar-light .navbar-nav .nav-item .phone-number {
    border: 1px solid #ffd880 ;
    border-radius: 0.4rem;
}


/*** start of header section ***/
#header-section {
    height: 90vh;
    background-image: linear-gradient( 
        to right bottom,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.5)),
    url("../img/kitera.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom left;
    position: relative;
    
    clip-path: polygon(0 0 , 100% 0, 100% 70vh, 0 100%);
}

.header-text {
    position: absolute;
    top: 38%;
    left: 20%;
    color: #ffffff;
}

.header-text h1 {
    font-size: 6rem;
    font-weight: 700;
}

.header-text p {
    margin-bottom: 2.5rem;
}

.header-text a {
    background-color: #ffb200;
    padding: 0.8rem 4rem;
    border-radius: 0.4rem;
    color: #21110e;
    font-weight: 400;
}

#header-section input {
    width: 225px;
    height: 4rem;
    border-radius: 0.4rem;
    border: none;
    padding: 0.5rem 1rem;
}

.cta {
    padding: 0.8rem 4rem;
    border-radius: 0.4rem;
    color: #21110e;
    font-weight: 400;
}

.cta:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.cta:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}

.cta::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.cta:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

/*** start of shopping section ***/

/*** start of shop navbar ***/
.side-navbar {
    background-color: #ffd880;
    border-radius: 7px;
}

.side-navbar ul {
    margin-bottom: 10rem;
    padding: 1rem 0 1rem 0;
} 

.side-navbar ul li {
   padding: 0 1.5rem;
   display: inline-block;
} 

.side-navbar h4 {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #21110e;
 } 

.side-navbar a {
    color: #21110e;
    font-weight: 400;
 } 

 .side-navbar a:hover {
    text-decoration: underline !important;
 } 
/*** end of shop navbar ***/

.shopping-products img {
    width: 15rem;
    height: auto;
}

.shopping .shopping-products .product{
    margin-bottom: 8rem;
}
/*** end of shopping section ***/
/*** brands ***/

.brands {
    padding: 3rem 0 5rem 0;
}

/*** footer section ***/
footer {
    padding: 2.5rem;
    background-color: #232323;
}
footer ul {
    list-style-type: none;
}

footer input {
    width: 225px;
    height: 4rem;
    border-radius: 0.4rem;
    border: none;
    padding: 0.5rem 1rem;
}

footer .cta {
    margin-left: 1rem;
    background-color: #ffb200;
}

footer .social-icons {
    padding-left: 1rem;
    font-size: 2rem;
    color: #ffb200;
}