/* Global Reset */
* {
    /* margin: 0 ;
    padding: 0; */
    border: 0;
    outline: 0;
    vertical-align: baseline;
    box-sizing: border-box;
     
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #555;
    /* padding: 3rem;   */
    
}

.row{
    margin: 0 !important;
    padding: 0 !important;
}
/*** global ***/

a {
    text-decoration: none !important;
}

h2 {
    font-weight: 600;
    font-size: 3rem;
    color: #21110e;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

section {
    margin-top: 15rem;
}


/*** start of navbar section ***/

/*** logo ***/
.navbar-brand {
    font-size: 2rem;
    color: #ffffff !important;
    font-weight: 400;
}

.navbar-brand span {
    color: #21110e;
}

/*** links ***/
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link  {
    color: #ffb200;
}

.navbar-light .navbar-nav .nav-item {
    padding: 1rem 0 0 2.5rem;
}


.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-light .navbar-nav .nav-item .phone-number {
    border: 1px solid #ffffff;
    border-radius: 0.4rem;

}

#nav-bar {
    position: sticky;
    transition: top 0.3s;
    padding: 0 7% 10px 7%;
    z-index: 100;
}

.color {
    background-color: #ffb200;
}

.link-color {
      color: #21110e;
}
  
/*** start of header section ***/
#header-section {
    height: 90vh;
    background-image: linear-gradient( 
        to right bottom,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.5)),
    url("../img/hero.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: top center;
    position: relative;
    
    clip-path: polygon(0 0 , 100% 0, 100% 70vh, 0 100%);
}

.header-text {
    position: absolute;
    top: 38%;
    left: 20%;
    color: #ffffff;
}

.header-text h1 {
    font-size: 6rem;
    font-weight: 700;
}

.header-text p {
    margin-bottom: 2.5rem;
}

.header-text a {
    background-color: #ffb200;
    padding: 0.8rem 4rem;
    border-radius: 0.4rem;
    color: #21110e;
    font-weight: 400;
}

.cta {
    background-color: #b0d6eb;
    padding: 0.8rem 4rem;
    border-radius: 0.4rem;
    color: #21110e;
    font-weight: 400;
}

.cta:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.cta:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}

.cta::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.cta:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}



/*** start of feature section ***/

.paw-print {
    font-size: 15rem;
    position: absolute;
    top: 95%;
    left: 10%;
    color: #ffd880;
    z-index: -1;
}

.paw-print2 {
    font-size: 15rem;
    position: absolute;
    top: 135%;
    left: 83%;
    color: #ffd880;
    z-index: -1;
}

#feature-section img {
    width: 30rem !important;
    height: auto;
    margin: 0 auto;
    border-radius: 0.7rem;
}

#feature-section  p {
   margin: 2.5rem 0;
}

/*** start of best section ***/

#best-section {
    height: auto;
    background-color: #ffb200;
    padding: 4rem 0;
}

#best-section .container {
    padding-top: 2rem;
}

#best-section .container .icon {
    font-size: 3rem;
    color: #21110e;
}

/*** start of offer section ***/

#offer-section img {
    width: 20rem;
    height: 20rem;
}

#offer-section h3 {
    color: #21110e;
    font-size: 1.8rem;
    font-weight: 700;
}

/*** start of location section ***/

#location-section {
    background-color: #b0d6eb;
    color: #21110e;
    padding: 5rem 0;
}

/*** footer section ***/
footer {
    padding: 2.5rem;
    background-color: #232323;
}
footer ul {
    list-style-type: none;
}

footer input {
    width: 225px;
    height: 4rem;
    border-radius: 0.4rem;
    border: none;
    padding: 0.5rem 1rem;
}

footer .cta {
    margin-left: 1rem;
    background-color: #ffb200;
}

footer .social-icons {
    padding-left: 1rem;
    font-size: 2rem;
    color: #ffb200;
}